[Desktop Entry]
Type=Application
Version=1.0
Name=SeaDrive
Comment=Seafile Drive Client
Exec=seadrive-gui %u
Icon=seadrive
Terminal=false
Categories=Network;FileTransfer;
StartupNotify=false
X-GNOME-Autostart-enabled=true
