[general]
# MacBook Pro 11,4 (Mid 2015 Retina) Fan Configuration
min_fan1_speed = {{ mbpfan.min_fan1_speed }}
max_fan1_speed = {{ mbpfan.max_fan1_speed }}
min_fan2_speed = {{ mbpfan.min_fan2_speed }}
max_fan2_speed = {{ mbpfan.max_fan2_speed }}
low_temp = {{ mbpfan.low_temp }}
high_temp = {{ mbpfan.high_temp }}
max_temp = {{ mbpfan.max_temp }}
polling_interval = 2
