[Compositing]
AnimationSpeed=3
Backend=OpenGL
GLCore=true
GLPreferBufferSwap=a
HiddenPreviews=5
OpenGLIsUnsafe=false
WindowsBlockCompositing=true

[Plugins]
blurEnabled=true
contrastEnabled=true

[Effect-blur]
BlurStrength={{ display.kwin_blur_strength }}
NoiseStrength=1
